*{
    margin: 0;
    padding:    0;
    font-family:   sans-serif;
}

#welcome{
    padding: 10rem;
    margin: auto;
    width: 55vw;
}

#welcome h1{
    padding: 10rem 5rem;
    position: absolute;
}

#welcome h1 > span{
    color: green;
}

#welcome img{
    border-radius: 50%;
    float: right;
    width: 25rem;
}


